<h1>Héroes <small>Marvel y DC</small></h1>
<hr />

<div class="row row-cols-1 row-cols-md-3 g-4">

  <div class="col animated fadeIn fast" *ngFor="let heroe of heroes; let i = index ">
    <div class="card h-100">
      <img [src]="heroe.img" class="card-img-top" [alt]="heroe.nombre">
      <div class="card-body">
        <h5 class="card-title"> {{heroe.nombre}} </h5>
        <p class="card-text"> {{heroe.bio}} </p>
        <small>{{heroe.aparicion}}</small>
      </div>
      <div class="text-center">
        <button (click)="verHeroe(i)" type="button" class="btn btn-outline-primary">Ver más...</button>
      </div>

      <!--<a [routerLink]="['/heroe',i]" class="btn btn-outline-primary">
        Ver más...
      </a>-->
      <br />
    </div>
  </div>
</div>
